@model TeamsViewModel

@{
    ViewData["Title"] = "Teams";
}

<h2 class="text-left">@ViewData["Title"]</h2>

<div class="row">
    <div class="col-12">
        <p class="text-left">
            We are proud to operate over 50 junior football teams, with over 650 girls and boys registered to the club from our Under 5 development sessions through to youth and open age group teams, playing in local Saturday and Sunday leagues across Wirral and Cheshire.
        </p>
    </div>
</div>

<div class="row">
    @foreach (var teamModel in Model.Teams)
    {
        <div class="col-lg-2 col-md-2 col-sm-6 mb-4">
            <div class="card h-100 d-flex flex-column">
                <img src="@teamModel.ImagePath" class="card-img-top" alt="@teamModel.Name"
                     onerror="this.onerror=null;this.src='/images/committee/committee_logo.png';"/>
                <div class="card-body">
                    <h5 class="card-title text-center mb-6 p-0">@teamModel.Name</h5>
                    <div class="align-items-center">
                        <strong>Manager:</strong><br/>
                        <span class="card-title text-center mb-0 ml-2">@teamModel.Manager</span>
                    </div>
                    <br />

                    @if (teamModel.Coaches != null)
                    {
                        <div class="align-items-center">
                            <strong>Coaches:</strong><br/>
                            @foreach (var role in teamModel.Coaches)
                            {
                                <span class="card-text text-center">@role</span><br/>
                            }
                        </div>
                        <br/>
                    }
            
                    <div class="align-items-center">
                        <strong>League:</strong><br/>
                        <span class="card-title text-center mb-0 ml-2">@teamModel.League</span>
                    </div>
                </div>
            </div>
        </div>

    }
</div>