@model SponsorsViewModel

@{
    ViewData["Title"] = "Sponsors";
}

<h2 class="text-left">@ViewData["Title"] </h2>

<div class="row">
    <div class="col-12">

        <p class="text-left">
            We thank all sponsors of Glenavon JFC, either those that support the whole club or individual teams.
            Without your support, either financial or providing services or labour, we really appreciate it.
        </p>
        <p class="text-left">
            We always need more sponsors. We welcome all offers of support on an individual team or club basis. The following sponsorship costs apply for the 2025/2026 season.
        </p>
  
        <div class="table-responsive mt-3">
            <table class="table table-bordered table-striped">
                <thead class="table-light">
                <tr>
                    <th>Team Type</th>
                    <th>Main Kit</th>
                    <th>Main Kit and Board</th>
                    <th>Sleeve Sponsor</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>5v5</td>
                    <td>£250</td>
                    <td>£350</td>
                    <td>£150</td>
                </tr>
                <tr>
                    <td>7v7</td>
                    <td>£300</td>
                    <td>£400</td>
                    <td>£150</td>
                </tr>
                <tr>
                    <td>9v9</td>
                    <td>£350</td>
                    <td>£450</td>
                    <td>£150</td>
                </tr>
                <tr>
                    <td>11v11</td>
                    <td>£400</td>
                    <td>£500</td>
                    <td>£150</td>
                </tr>
                <tr>
                    <td>11v11 Senior</td>
                    <td>£500</td>
                    <td>£600</td>
                    <td>£150</td>
                </tr>
                </tbody>
            </table>
        </div>
        
        <p class="text-left">
            Please get in touch if you wish to find out more.
        </p>
    </div>
</div>

<div class="row">
    @foreach (var sponsor in Model.Sponsors.OrderBy(x => x.Title))
    {
        <div class="col-lg-2 col-md-3 col-sm-4 mb-4">
            <div class="card h-100 d-flex flex-column">
                <img src="@sponsor.ImagePath" class="card-img-top sponsor-img" alt="@sponsor.Title"
                     onerror="this.onerror=null;this.src='/images/sponsors/sponsor_logo.jpg';"/>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-center">@sponsor.Title</h5>
                    <p class="card-text text-center">
                        @(string.IsNullOrEmpty(sponsor.Description) ? "" : sponsor.Description?.Length > 50 ? sponsor.Description?.Substring(0, 50) + "..." : sponsor.Description)
                    </p>
                    <div class="mt-auto text-center">
                        <a href="#" class="btn btn-primary"
                           onclick="saveScrollPosition(); showSponsorDetails('@sponsor.Title',  '@(sponsor.Description.Replace("\r\n", "<br>"))', '@sponsor.ImagePath', '@sponsor.Address', '@sponsor.Email','@sponsor.Website', '@sponsor.ContactName', '@sponsor.ContactNumber', '@sponsor.TeamSponsored')">
                            View Details
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<!-- Modal HTML -->
<div class="modal fade" id="sponsorModal" tabindex="-1" role="dialog" aria-labelledby="sponsorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sponsorModalLabel">Sponsor Details</h5>
            </div>
            <div class="modal-body">
                <img id="sponsorImage" src="" class="img-fluid mb-3 d-block mx-auto" alt="Sponsor Image"
                     onerror="this.onerror=null;this.src='/images/sponsors/sponsor_logo.jpg';"/>
                <div id="descriptionDiv">
                    <h6>Description:</h6>
                    <span id="sponsorDescription"></span>
                </div>
                <br/>
                <h6>Contact Information:</h6>
                <div id="contactNameDiv">
                    <strong>Contact Name:</strong> <span id="sponsorContactName"></span>
                </div>
                <div id="addressDiv">
                    <strong>Address:</strong> <span id="sponsorAddress"></span>
                </div>
                <div id="websiteDiv">
                    <strong>Website:</strong>
                    <a link="#" target="_blank" id="sponsorWebsiteLink">
                        <span id="sponsorWebsite"></span>
                    </a>
                </div>
                <div id="emailDiv">
                    <strong>Email:</strong>
                    <a href="#" target="_blank" id="sponsorEmailLink">
                        <span id="sponsorEmail"></span>
                    </a>
                </div>
                <div id="phoneDiv">
                    <strong>Phone Number:</strong>
                    <a href="#" target="_blank" id="sponsorContactNumberLink">
                        <span id="sponsorContactNumber"></span>
                    </a>
                </div>
                <div id="teamDiv">
                    <strong>Team Sponsored:</strong> <span id="sponsorTeamSponsored"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="hideSponsorsDetails()" aria-label="Close">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function saveScrollPosition() {
        sessionStorage.setItem("scrollPosition", window.scrollY);
    }

    function loadScrollPosition() {
        if (sessionStorage.getItem("scrollPosition") !== null) {
            window.scrollTo(0, sessionStorage.getItem("scrollPosition"));
            sessionStorage.removeItem("scrollPosition");
        }
    };

    function showSponsorDetails(title, description, imagePath, address, email, website, contactName, contactNumber, teamSponsored) {
        // Set modal title
        document.getElementById('sponsorModalLabel').textContent = title;

        // Set sponsor details in modal
        var imageElement = document.getElementById('sponsorImage');
        imageElement.src = imagePath;
        imageElement.onerror = function() {
            this.src = '/images/sponsors/sponsor_logo.jpg';
        };

        // Description
        if (description !== "") {
            document.getElementById('sponsorDescription').innerHTML = description;
            document.getElementById('descriptionDiv').style.display = 'block';
        } else {
            document.getElementById('descriptionDiv').style.display = 'none';
        }

        // Contact Name
        if (contactName !== "") {
            document.getElementById('sponsorContactName').textContent = contactName;
            document.getElementById('contactNameDiv').style.display = 'block';
        } else {
            document.getElementById('contactNameDiv').style.display = 'none';
        }

        // Address
        if (address !== "") {
            document.getElementById('sponsorAddress').textContent = address;
            document.getElementById('addressDiv').style.display = 'block';
        } else {
            document.getElementById('addressDiv').style.display = 'none';
        }
        
        // Website
        if (website !== "") {
            document.getElementById('sponsorWebsite').textContent = website;
            document.getElementById('sponsorWebsiteLink').href = website;
            document.getElementById('websiteDiv').style.display = 'block';
        } else {
            document.getElementById('websiteDiv').style.display = 'none';
        }

        // Email
        if (email !== "") {
            document.getElementById('sponsorEmail').textContent = email;
            document.getElementById('sponsorEmailLink').href = "mailto:" + email;
            document.getElementById('emailDiv').style.display = 'block';
        } else {
            document.getElementById('emailDiv').style.display = 'none';
        }
        
        // Contact Number
        if (contactNumber !== "") {
            document.getElementById('sponsorContactNumber').textContent = contactNumber;
            document.getElementById('sponsorContactNumberLink').href = "tel:" + contactNumber;
            document.getElementById('phoneDiv').style.display = 'block';
        } else {
            document.getElementById('phoneDiv').style.display = 'none';
        }
        
        // Team Sponsored
        if (teamSponsored !== "") {
            document.getElementById('sponsorTeamSponsored').textContent = teamSponsored;
            document.getElementById('teamDiv').style.display = 'block';
        } else {
            document.getElementById('teamDiv').style.display = 'none';
        }

        // Show the modal
        $('#sponsorModal').modal('show');
    }

    // Ensure the modal can be dismissed properly
    function hideSponsorsDetails() {
        loadScrollPosition();
        $('#sponsorModal').modal('hide');
    }
</script>