@model VenueModel

<div class="venue-info">
    <h2>@Model.Name</h2>

    <h3>Address:</h3>
    @*     @if (!string.IsNullOrEmpty(@Model.Address.AddressLine1))
    {
        <p>@Model.Address.AddressLine1</p>
    } *@


    <p>@Model.Address.AddressLine2</p>
    <p>@Model.Address.TownOrCity</p>
    <p>@Model.Address.County</p>
    <p>@Model.Address.Postcode</p>

    <h3>Parking:</h3>
    <p>@Model.Parking.Description</p>


    <h3>Pitch Location:</h3>
    <p>@Model.PitchLocation</p>

    <h3>Rules:</h3>
    <ul>
        @foreach (var rule in Model.Rules)
        {
            <li>@rule</li>
        }
    </ul>
</div>