@model CommitteeViewModel

@{
    ViewData["Title"] = "Committee";
}

<h2 class="text-left">@ViewData["Title"]</h2>

<div class="row">
    <div class="col-12">

        <p class="text-left">
            Our committee is made up of a number of volunteers, primarily they are current or ex managers but also some parents support us in the running of the club.
        </p>
        <p class="text-left">
            Below are the main committee members of the club.
        </p>
    </div>
</div>

<div class="row">
    @foreach (var committeeMember in Model.CommitteeMembers)
    {
        <div class="col-lg-2 col-md-2 col-sm-6 mb-4">
            <div class="card h-100 d-flex flex-column">
                <img src="@committeeMember.ImagePath" class="card-img-top" alt="@committeeMember.Name"
                     onerror="this.onerror=null;this.src='/images/committee/committee_logo.png';"/>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-center">@committeeMember.Name</h5>
                    @foreach (var role in committeeMember.Roles)
                    {
                        <span class="card-text text-center">@role</span>
                    }
                </div>
            </div>
        </div>
    }
</div>